@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxanium:wght@200..800&display=swap');

:root {
  --green: #17ebab;
  --blue: #7bc9ff;
  --purple: #8576ff;
  --dark-blue: #1c1678;
}

.purple {
  color: var(--purple);
}

.green {
  color: var(--green);
}

.blue {
  color: var(--blue);
}

.dark-blue {
  color: var(--dark-blue);
}

body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Full viewport height */
    font-family: Oxanium;
    overflow: hidden; /* Prevent scrolling */
    color: white;
    background: linear-gradient(to bottom, #000000, #2b0c6b);
    display: flex;
    justify-content: center;
    align-items: center;
  }

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .resume {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 30vw;
    margin-right: 30vw;
  }

  .doorframe {
    position: absolute;
    width: 320px; 
    height: 420px; 
    padding: 20px 0 0 20px;
    background-color: #2a123d;
    border: 5px solid #4a0986; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 2s ease-in-out; /* Smooth zoom effect */
    transform-origin: center; /* Zoom in from the center */
    animation: float 3s ease-in-out infinite; /* Floating animation */
  }
  
  .artistry {
    background: linear-gradient(to bottom, #3ec760, #7eebd4);
  }

  .sitebg {
    background: linear-gradient(to bottom, #fffd7a, #e46612);
  }

  .door-container {
    position: relative;
    width: 300px;
    height: 400px;
    perspective: 1000px;
    transition: transform 2s ease-in-out; /* Smooth zoom effect */
    transform-origin: center; /* Zoom in from the center */
    overflow: hidden; /* Hide overflow to create a clean zoom effect */
  }
  .fullscreen-blackout {
    transform: scale(10); /* Zoom the door until it fills the screen */
    background: black; /* Ensure the screen is black once zoomed in */
    transition: transform 2s ease-in-out, background 2s ease-in-out;
}
  
.interior {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
}

  .door {
    position: absolute;
    width: 150px;
    height: 100%;
    background: #29075f;
    border: 3px solid #4f0b9e;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); 
    transform-origin: center right;
    transition: transform 1s ease-in-out;
    z-index: 2;
    cursor: pointer;
  }
  
  .left-door {
    left: 0;
    transform-origin: center left;
  }
  
  .right-door {
    right: 0;
    transform-origin: center right;
  }
  
  .knob {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #7b37d4;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .left-door .knob {
    top: 50%;
    right: 10%; /* Position near the edge of the door */
    transform: translateY(-50%);
  }
  

  .right-door .knob {
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
  }

  .door-container.open .left-door {
    transform: rotateY(-120deg);
  }
  
  .door-container.open .right-door {
    transform: rotateY(120deg);
  }

  @keyframes float {
    0% {
        transform: translateY(15px); /* Original position */
    }
    50% {
        transform: translateY(-15px); /* Move up slightly */
    }
    100% {
        transform: translateY(15px); /* Return to original position */
    }
}

.fullscreen-blackout {
    transform: scale(10); /* Zoom the door until it fills the screen */
    background: #000; /* Ensure the screen is black once zoomed in */
    transition: transform 2s ease-in-out, background 2s ease-in-out;
}

/* Fade-in animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px); /* slight movement */
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Apply fade-in animation to the body or specific elements */
.fade-in {
    animation: fadeIn 2s ease-out; /* Duration: 2 seconds */
}

  #stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

/* Base styles for planets */
.planet {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 2vw;
    animation: float 7s ease-in-out infinite; /* Floating animation */
    transition: box-shadow 0.3s;
}

.planet-img {
  width: 80%;
  height: 80%;
  margin-top: 12%;
  margin-left: 10%;
}

.small {
  width: 10vw;
  height: 10vw;
  
}

.planet.writing {
  top: 6%;
  left: 15%;
  background: linear-gradient(to bottom, #e551f8, #5d01d4);
  animation-delay: 0s;
}

.writtenstuffs {
  background: linear-gradient(to bottom, #e551f8, #5d01d4);
}

.planet.art { 
  top: 15%;
  right: 15%;
  background: linear-gradient(to bottom, #0ae440, #1f9e83);
  animation-delay: -1s;
}
.planet.websites { 
  bottom: 15%;
  left: 35%;
  background: linear-gradient(to bottom, #ff9e0b, #e62222);
  animation-delay: -2s;
}

.planet.about-me {
  bottom: 10%;
  right: 10%;
  background: linear-gradient(to top, #321909, #b60909);
  animation-delay: -3s;
}

.planet.contact {
  bottom: 10%;
  left: 10%;
  background: linear-gradient(to bottom, #aeff00, #fbd500);
  animation-delay: -4s;
}

.planet.resume {
  top: 25%;
  left: 20%;
  background: linear-gradient(to top, #0a0a0a, #3d3d3d);
  animation-delay: -5s;
}

.raccoon {
  position: absolute;
  bottom: 30%;
  right: 30%;
  width: 3vw;
}

.planet:hover {
    box-shadow: 0 0 2vw rgba(255, 255, 255, 0.8);
}


.big-planet {
  position: absolute;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  animation: float 3s ease-in-out infinite;
}

.big-planet.vb {
  background: linear-gradient(to top, #00ffff, #000000);
  top: 25%;
  left: 10%;
  animation-delay: -2s;
  text-decoration: none;
  color: #fff;
  font-size: 4vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-planet.essay {
  background: linear-gradient(to bottom, #aeaeae, #000000);
  top: 25%;
  right: 10%;
  text-decoration: none;
  color: #fff;
  font-size: 4vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-planet.websites {
  background: linear-gradient(to bottom, #ff9e0b, #e62222);
}

.moon {
  position: absolute;
  width: 8vw;
  height: 8vw;
  background: linear-gradient(to bottom, #d8afe6, #6850a7);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 1vw;
  animation: float 4s ease-in-out infinite;
  transition: box-shadow 0.3s;
}

.moon:hover {
  box-shadow: 0 0 2vw rgba(255, 255, 255, 0.8);
}

.moon:nth-child(1) {
  top: -10vw;
  left: 7vw;
  animation-delay: -1s;
}

.moon:nth-child(2) {
  top: 9vw;
  left: -10vw;
  animation-delay: -2s;
}

.moon:nth-child(3) {
  bottom: -10vw;
  left: 4vw;
  animation-delay: -5s;
}

.moon:nth-child(4) {
  top: 5vw;
  right: -10vw;
  animation-delay: -4s;
}

.moon:nth-child(5) {
  top: 25vw;
  left: 30vw;
  animation-delay: -3s;
}

/* image container */
.image-container {
  display: flex;
  flex-direction: row; /* Horizontal scrolling */
  animation: seamless-scroll 10s linear infinite; /* Smooth infinite scroll */
  width: calc(200vw); /* Ensure container width accommodates all images */
  margin-top: 4.5vw; /* Space above the images */
}

/* Images */
.image-container img {
  height: 30vw;
  margin: 0 5vw; /* Space between images */
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.8);
  border: 3px solid #fff;
}

/* Keyframes for seamless scrolling */
@keyframes seamless-scroll {
  0% {
    transform: translateX(0); /* Start position */
  }
  100% {
    transform: translateX(-100vw); /* Move full viewport width */
  }
}

.one {
  background-image: url('images/rickyart.jpeg');
}

.two {
  background-image: url('images/zobny.jpeg');
}

.three {
  background-image: url('images/pokesona.png');
}

.four {
  background-image: url('images/fish.png');
}

.topheader {
  position: absolute;
  font-size: 5vw;
  top: -4%;
}

.spinning-right {

  animation: spinright 20s linear infinite;
}

.spinning-left {
  animation: spinleft 20s linear infinite;
}

.floatone {
  position: absolute;
  top: 60%;
  left: 10%;
  width: 10vw;
  animation-delay: -4s;
}

.floattwo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10vw;
  animation-delay: -2s;
}

.floatthree {
  position: absolute;
  top: 40%;
  left: 80%;
  width: 10vw;
  animation-delay: -8s;
}

@keyframes spinright {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinleft {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.hobbies {
  position: absolute;
  
}

.myinfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  font-size: 2vw;
  animation: float 3s ease-in-out infinite; /* Floating animation */
}

.myinfo img {
  width: 8vw;
}

.myinfo p {
  margin: 1vw;
}

.phone {
  animation: spinright 20s linear infinite;
}

.envelope {
  animation: spinleft 20s linear infinite;
  animation-delay: -2s;
}